* text=auto !eol
/Makefile -text
alps/IMPORTANT-README -text
alps/include/alps/alps.h -text
alps/include/alps/alps_toolAssist.h -text
alps/include/alps/apInfo.h -text
alps/include/alps/libalps.h -text
alps/include/alps/libalpslli.h -text
alps/include/alps/libalpsutil.h -text
alps/lib/alps/libalps.a -text
alps/lib/alps/libalps.so -text
alps/lib/alps/libalps.so.0 -text
alps/lib/alps/libalps.so.0.0 -text
alps/lib/alps/libalpslli.a -text
alps/lib/alps/libalpslli.so -text
alps/lib/alps/libalpslli.so.0 -text
alps/lib/alps/libalpslli.so.0.0.0 -text
alps/lib/alps/libalpsutil.a -text
alps/lib/alps/libalpsutil.so -text
alps/lib/alps/libalpsutil.so.0 -text
alps/lib/alps/libalpsutil.so.0.0.0 -text
alps/lib/alps/libxmlrpc.a -text
alps/lib/alps/libxmlrpc.so -text
alps/lib/alps/libxmlrpc.so.0 -text
alps/lib/alps/libxmlrpc.so.0.0 -text
/alps_application.c -text
/alps_application.h -text
/alps_backend.c -text
/alps_backend.h -text
/alps_run.c -text
/alps_run.h -text
/alps_transfer.c -text
/alps_transfer.h -text
/alps_transfer_demo.c -text
/daemon_launcher.c -text
demos/sleepy/sleepy.c -text
demos/testing.info -text
ld_val/Makefile -text
ld_val/audit.c -text
ld_val/ld_val.c -text
ld_val/ld_val.h -text
ld_val/ld_val_defs.h -text
useful/log.c -text
useful/log.h -text
useful/path.c -text
useful/path.h -text
useful/useful.h -text
