[submodule "external/cdst_build_library"]
	path = external/cdst_build_library
	url = git@github.hpe.com:hpcde/cdst-cdst-build-library.git
	branch = master
[submodule "rpmbuild/SOURCES/set_default"]
	path = rpmbuild/SOURCES/set_default
	url = git@github.hpe.com:hpcde/cdeux-set-default.git
	branch = master
[submodule "tests/test_support/googletest"]
	path = tests/test_support/googletest
	url = git@github.hpe.com:hpcde/cdst-googletest.git
	branch = hpe
[submodule "external/libalps_headers"]
	path = external/libalps_headers
	url = git@github.hpe.com:hpcde/cdst-libalps-headers.git
	branch = master
[submodule "tests/function/cdst-test"]
	path = tests/function/cdst-test
	url = git@github.hpe.com:hpcde/cdst-cdst-test.git
	branch = master
[submodule "external/changelog"]
	path = external/changelog
	url = git@github.hpe.com:hpcde/devops-changlog.git
	branch = master

