* text=auto !eol
/Makefile.am -text
/Makefile.in -text
/aclocal.m4 -text
/config.h.in -text
config/compile -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
/configure -text
/configure.ac -text
/cray-audit.pc.in -text
/cray-tools_be.pc.in -text
/cray-tools_fe.pc.in -text
demos/Makefile.am -text
demos/Makefile.in -text
demos/cti_barrier_demo.c -text
demos/cti_callback_daemon.c -text
demos/cti_callback_demo.c -text
demos/cti_callback_demo.h -text
demos/cti_info_demo.c -text
demos/cti_linking_test.c -text
demos/cti_transfer_demo.c -text
demos/testing.info -text
include/cray_tools_be.h -text
include/cray_tools_fe.h -text
m4/cray_extensions.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
m4/pkg.m4 -text
/release_versioning -text
src/Makefile.am -text
src/Makefile.in -text
src/backend/Makefile.am -text
src/backend/Makefile.in -text
src/backend/alps_be.c -text
src/backend/cray_slurm_be.c -text
src/backend/cti_be.c -text
src/backend/cti_be.h -text
src/backend/pmi_attribs_parser.c -text
src/backend/pmi_attribs_parser.h -text
src/cti_defs.h -text
src/daemon/Makefile.am -text
src/daemon/Makefile.in -text
src/daemon/alps_dl.c -text
src/daemon/cray_slurm_dl.c -text
src/daemon/cti_daemon.c -text
src/daemon/cti_daemon.h -text
src/frontend/Makefile.am -text
src/frontend/Makefile.in -text
src/frontend/alps_fe.c -text
src/frontend/alps_fe.h -text
src/frontend/cray_slurm_fe.c -text
src/frontend/cray_slurm_fe.h -text
src/frontend/cti_error.c -text
src/frontend/cti_error.h -text
src/frontend/cti_fe.c -text
src/frontend/cti_fe.h -text
src/frontend/cti_run.c -text
src/frontend/cti_run.h -text
src/frontend/cti_transfer.c -text
src/frontend/cti_transfer.h -text
src/ld_val/Makefile.am -text
src/ld_val/Makefile.in -text
src/ld_val/audit.c -text
src/ld_val/ld_val.c -text
src/ld_val/ld_val.h -text
src/ld_val/ld_val_defs.h -text
src/mpir_iface/Makefile.am -text
src/mpir_iface/Makefile.in -text
src/mpir_iface/gdb_MPIR.c -text
src/mpir_iface/gdb_MPIR.h -text
src/mpir_iface/gdb_MPIR_iface.c -text
src/mpir_iface/gdb_MPIR_iface.h -text
src/mpir_iface/gdb_MPIR_starter.c -text
src/slurm_util/IMPORTANT -text
src/slurm_util/Makefile.am -text
src/slurm_util/Makefile.in -text
src/slurm_util/slurm_util.c -text
src/useful/Makefile.am -text
src/useful/Makefile.in -text
src/useful/cti_args.c -text
src/useful/cti_args.h -text
src/useful/cti_list.c -text
src/useful/cti_list.h -text
src/useful/cti_log.c -text
src/useful/cti_log.h -text
src/useful/cti_overwatch.c -text
src/useful/cti_overwatch.h -text
src/useful/cti_overwatch_process.c -text
src/useful/cti_path.c -text
src/useful/cti_path.h -text
src/useful/cti_signal.c -text
src/useful/cti_signal.h -text
src/useful/cti_stack.c -text
src/useful/cti_stack.h -text
src/useful/cti_stringList.c -text
src/useful/cti_stringList.h -text
src/useful/cti_useful.h -text
