* text=auto !eol
/Makefile.am -text
/Makefile.in -text
/aclocal.m4 -text
alps/IMPORTANT-README -text
alps/include/alps/alps.h -text
alps/include/alps/alps_toolAssist.h -text
alps/include/alps/apInfo.h -text
alps/include/alps/libalps.h -text
alps/include/alps/libalpslli.h -text
alps/include/alps/libalpsutil.h -text
alps/lib/alps/libalps.a -text
alps/lib/alps/libalps.so -text
alps/lib/alps/libalps.so.0 -text
alps/lib/alps/libalps.so.0.0 -text
alps/lib/alps/libalpslli.a -text
alps/lib/alps/libalpslli.so -text
alps/lib/alps/libalpslli.so.0 -text
alps/lib/alps/libalpslli.so.0.0.0 -text
alps/lib/alps/libalpsutil.a -text
alps/lib/alps/libalpsutil.so -text
alps/lib/alps/libalpsutil.so.0 -text
alps/lib/alps/libalpsutil.so.0.0.0 -text
alps/lib/alps/libxmlrpc.a -text
alps/lib/alps/libxmlrpc.so -text
alps/lib/alps/libxmlrpc.so.0 -text
alps/lib/alps/libxmlrpc.so.0.0 -text
/config.h.in -text
config/compile -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
/configure -text
/configure.ac -text
demos/alps_transfer_demo.c -text
demos/sleepy/sleepy.c -text
demos/testing.info -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
m4/pkg.m4 -text
src/Makefile.am -text
src/Makefile.in -text
src/alps_application.c -text
src/alps_application.h -text
src/alps_backend.c -text
src/alps_backend.h -text
src/alps_run.c -text
src/alps_run.h -text
src/alps_transfer.c -text
src/alps_transfer.h -text
src/daemon_launcher.c -text
src/ld_val/Makefile.am -text
src/ld_val/Makefile.in -text
src/ld_val/audit.c -text
src/ld_val/ld_val.c -text
src/ld_val/ld_val.h -text
src/ld_val/ld_val_defs.h -text
src/pmi_attribs_parser.c -text
src/pmi_attribs_parser.h -text
src/tool_backend.h -text
src/tool_frontend.h -text
src/useful/log.c -text
src/useful/log.h -text
src/useful/path.c -text
src/useful/path.h -text
src/useful/stringList.c -text
src/useful/stringList.h -text
src/useful/useful.h -text
