# Tcl file sourced by craype module

set install_root <CRAY_PREFIX>
set CRAY_CTI_LEVEL <PKG_VERSION>
set PE_PRODUCT_DIR ${install_root}/<PE_PRODUCT>/${CRAY_CTI_LEVEL}

prepend-path PE_PKG_CONFIG_PATH $PE_PRODUCT_DIR/lib/pkgconfig
