name: Build pipeline / workflow
on:
  push:
    branches:
      - 'master'
      - 'release/**'

  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      to_build:
        description: 'build on'
        required: true
        type: choice
        default: 'all'
        options:
          - all
          - rhel8_10
          - rhel9_4
          - rhel9_4-aarch64
          - rhel9_5
          - rhel9_5-aarch64
          - rhel9_6
          - rhel9_6-aarch64
          - sles15sp6
          - sles15sp6-aarch64
          - sles15sp7
          - sles15sp7-aarch64

jobs:
  build_rhel8_10_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel8_10' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_rhel8_9_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_8_10_x86_64"
    secrets: inherit

  build_rhel9_4_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_4' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_rhel9_4_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_4_x86_64"
    secrets: inherit

  build_rhel9_4_aarch64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_4-aarch64' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:arm", "provider:gcp", "team:cdst", "build_rhel9_4_aarch64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_4_aarch64"
    secrets: inherit

  build_rhel9_5_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_5' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_rhel9_5_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_5_x86_64"
    secrets: inherit

  build_rhel9_5_aarch64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_5-aarch64' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:arm", "provider:gcp", "team:cdst", "build_rhel9_5_aarch64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_5_aarch64"
    secrets: inherit

  build_rhel9_6_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_6' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_rhel9_6_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_6_x86_64"
    secrets: inherit

  build_rhel9_6_aarch64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'rhel9_6-aarch64' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:arm", "provider:gcp", "team:cdst", "build_rhel9_6_aarch64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "rhel_9_6_aarch64"
    secrets: inherit

  build_sles15_sp6_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'sles15sp6' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_sles15_sp6_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "sles15_sp6_x86_64"
    secrets: inherit

  build_sles15_sp6_aarch64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'sles15sp6-aarch64' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:arm", "provider:gcp", "team:cdst", "build_sles15_sp6_aarch64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "sles15_sp6_aarch64"
    secrets: inherit

  build_sles15_sp7_x86_64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'sles15sp7' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:x86", "provider:gcp", "team:cdst", "build_sles15_sp7_x86_64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "sles15_sp7_x86_64"
    secrets: inherit

  build_sles15_sp7_aarch64:
    if: ${{ inputs.to_build == '' || inputs.to_build == 'all' || inputs.to_build == 'sles15sp7-aarch64' }}
    uses: hpcde/devops-shared-workflows/.github/workflows/full_workflow.yaml@main
    with:
      runs-on-str: '["self-hosted", "vmSize:S", "arch:arm", "provider:gcp", "team:cdst", "build_sles15_sp7_aarch64_${{github.run_id}}_${{github.run_attempt}}_${{github.actor}}_${{github.ref_name}}"]'
      build_targets: "sles15_sp7_aarch64"
    secrets: inherit

